[buildout]
parts = python django feedparser
develop = .
eggs = django-push

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[django]
recipe = djangorecipe
version = 1.2.1
project = django_push
projectegg = django_push
settings = test_settings
test = django_push
eggs = ${buildout:eggs}

[feedparser]
recipe = gocept.download
url = http://pypi.python.org/packages/source/F/FeedParser/feedparser-4.1.tar.gz
md5sum = 573a8df4d4305b37107040654f52b826
